In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder

step 2 upload dataset

In [55]:
# Replace 'your_dataset.csv' with the actual file name
df = pd.read_csv("../DataSet/1_iris.csv")
print(df.head())

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

step 3 handle missing data

In [19]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [41]:
print(df.isnull().sum())

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

 Option-1 Drop missing values

In [44]:
df.dropna(inplace=True)

Option-2 Fill missing values

In [47]:
# Fill with mean
df.fillna(df.mean(numeric_only=True), inplace=True)

# OR fill with median
# df.fillna(df.median(numeric_only=True), inplace=True)

In [51]:
# Encode all object-type columns including the target
le = LabelEncoder()

# Encode 'species' column (target)
df['species'] = le.fit_transform(df['species'])

# Encode other categorical columns if any
for col in df.select_dtypes(include='object').columns:
    if col != 'species':
        df[col] = le.fit_transform(df[col])

step  NORMALIZE NUMERICAL COLUMN

In [53]:
scaler = StandardScaler()

# Get numeric columns (excluding the target column 'species')
num_cols = df.select_dtypes(include=['float64', 'int64']).columns.tolist()
num_cols.remove('species')

# Apply scaling
df[num_cols] = scaler.fit_transform(df[num_cols])

ValueError: list.remove(x): x not in list

In [57]:
X = df.drop('species', axis=1)
y = df['species']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)